{% extends 'base.html.twig' %}

{% block body %}
    <h1>Habitat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ habitat.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ habitat.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('habitat_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
