{% extends 'base.html.twig' %}

{% block body %}

<form action="{{ path('check_user') }}">
    <label>Nom d'utilisateur</label><br>
    <input type="text" name="username"><br>
    <label>Mot de pass</label><br>
    <input type="password" name="pass"><br>
    <input type="submit" value="Envoyer">
</form>

{% endblock %}